.todoList{
    display: flex;
    justify-content: center;
    
}

.todoList_container {
  /* display: flex; */
  justify-content: center;
  background-color: #fff;
  margin-top: 30px;
  width: 50rem;
  padding: 15px;
  border-radius: 10px;
}

.todoList_item {
  border: 1px solid;
  padding: 5px;
  margin: 0 0 10px 0;
  list-style: none;
}
